<div class="banner">
  <div class="banner-content">
    <h1>Casamor</h1>
    <p>Contemporary villa between ocean, dunes and great golfing</p>
    <a href="http://localhost:3000/information" class="btn btn-lg" role="button">Information</a>
  </div>
</div>
